body {
    background: #F0F0F0;
}

.display {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #BEC6BE;/*rgb(196,202,196)*/;
    background-image: linear-gradient(to bottom,rgb(188,196,188),rgb(200,208,200),rgb(188,196,188));
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.leaflet-container {
    border-radius: 12px;
    box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.5) inset;
    z-index: 0;
}